<%= form_with(model: guestbook_message) do |form| %>
  <% if guestbook_message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(guestbook_message.errors.count, "error") %> prohibited this guestbook_message from being saved:</h2>

      <ul>
        <% guestbook_message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_area :text %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
