<div id="<%= dom_id guestbook_message %>">
  <p>
    <strong>Name:</strong>
    <%= guestbook_message.name %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= guestbook_message.text %>
  </p>

  <p>
    <strong>Ip:</strong>
    <%= guestbook_message.ip %>
  </p>

  <p>
    <strong>Remote ip:</strong>
    <%= guestbook_message.remote_ip %>
  </p>

  <p>
    <strong>User agent:</strong>
    <%= guestbook_message.user_agent %>
  </p>

</div>
