<h1>Editing guestbook message</h1>

<%= render "form", guestbook_message: @guestbook_message %>

<br>

<div>
  <%= link_to "Show this guestbook message", @guestbook_message %> |
  <%= link_to "Back to guestbook messages", guestbook_messages_path %>
</div>
