<p><%= paginate @guestbook_messages %></p>

<p style="color: green"><%= notice %></p>

<h1>Guestbook messages</h1>

<div id="guestbook_messages">
  <% @guestbook_messages.each do |guestbook_message| %>
    <%= render guestbook_message %>
    <p>
      <% # = link_to "Show this guestbook message", guestbook_message %>
    </p>
    <hr/>
  <% end %>
</div>

<%= link_to "New guestbook message", new_guestbook_message_path %>

<p><%= paginate @guestbook_messages %></p>
