<p style="color: green"><%= notice %></p>

<%= render @guestbook_message %>

<div>
  <%= link_to "Edit this guestbook message", edit_guestbook_message_path(@guestbook_message) %> |
  <%= link_to "Back to guestbook messages", guestbook_messages_path %>

  <%= button_to "Destroy this guestbook message", @guestbook_message, method: :delete %>
</div>
